h1 {
	color: #FF0F0F;
	text-transform: uppercase;
	}
body {
	
	background-image: url("../labs/yoshi.png");
	background-attachment: fixed;
	background-color: #2D882D;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20%;
	margin-right: 20%;
	}
	
.yoshi-egg {
	background-color: #DDDDDD;
	opacity: .75;
	padding: 3%;
	}
p { 
	color: #0F00F0;
	}